.canvas {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  min-height: 80vh;
  max-width: 70%;
  margin: auto;
}

.canvas-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 15px;
  text-align: center;
}

.canvas-area {
  width: 100%;
  min-height: 400px;
  max-height: 70vh;
  overflow-x: auto;
  /* overflow-y: hidden;  */
  display: flex;
  scroll-behavior: smooth;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: relative;
  gap: 10px;
  white-space: nowrap;
}

.canvas-placeholder {
  font-size: 1.2rem;
  color: #999;
  text-align: center;
  font-style: italic;
}


@media (max-width: 1024px) {
  .canvas {
    max-width: 90%;
    min-height: 50vh;
  }

  .canvas-title {
    font-size: 1.2rem;
  }

  .canvas-area {
    min-height: 40vh;
    padding: 15px;
  }
}
